*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html, body{
    margin:0;
    padding:0;
    min-height:100vh;
}

body{
    background:#fdf6f8;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

header{
    height:70px;
    background:white;
    padding:0 70px;
    display:flex;
    align-items:center;
    box-shadow:0 3px 15px rgba(0,0,0,0.08);
}

.logo{
    display:flex;
    align-items:center;
    gap:8px;
}

.flower{
    font-size:34px;
    color:#d6336c;
}

.logo h2{
    color:#9b174c;
    font-size:24px;
}

.logo p{
    font-size:12px;
    color:#666;
}

main{
    padding:40px 20px 0;
    flex:1;
}

.card{
    max-width:900px;
    margin:auto;
    margin-bottom:40px;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    display:flex;
}

.left{
    width:40%;
    background:#fce4ec;
    padding:20px;
}

.left h1{
    color:#c2185b;
    margin-bottom:15px;
}

.garis{
    width:80px;
    height:4px;
    background:#e91e63;
    margin-bottom:20px;
}

.left p{
    color:#555;
    line-height:1.6;
}

.left img{
    width:85%;
    margin-top:20px;
    border-radius:15px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.right{
    width:60%;
    padding:20px;
}

label{
    display:block;
    margin-top:10px;
    margin-bottom:4px;
}

input,
textarea{
    width:100%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:10px;
    outline:none;
}

textarea{
    resize:none;
    height:55px;
}

.btn{
    width:100%;
    margin-top:20px;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#e91e63;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.btn:hover{
    background:#c2185b;
}

.atau{
    display:flex;
    align-items:center;
    gap:10px;
    margin:20px 0;
}

.atau span{
    flex:1;
    height:1px;
    background:#ddd;
}

.login{
    text-align:center;
}

.login a{
    color:#e91e63;
    text-decoration:none;
    font-weight:bold;
}

footer{
    background: #c2185b;
    color: white;
    padding: 15px;
    margin-top: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.password-box{
    position: relative;
}

.password-box input{
    width: 100%;
    padding-right: 45px;
}

.toggle-password{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

/* TABLET */
@media (max-width:768px){

    .card{
        flex-direction:column;
    }

    .left,
    .right{
        width:100%;
    }

    .left{
        text-align:center;
    }

    .left img{
        max-width:300px;
    }
}

/* HP */
@media (max-width:480px){

    header{
        padding:15px;
    }

    .logo{
        flex-direction:column;
        text-align:center;
    }

    .flower{
        font-size:30px;
    }

    .left,
    .right{
        padding:25px;
    }

    .left h1{
        font-size:28px;
    }

    input,
    textarea,
    .btn{
        font-size:14px;
    }

    footer{
        font-size:14px;
    }
}