*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background: #fff7fb;
}

header{
    height: 85px;
    background: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 70px;

    box-shadow: 0 3px 15px rgba(0,0,0,0.08);
}

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.flower{
    font-size: 42px;
    color: #d6336c;
}

.logo h2{
    color: #9b174c;
}

.logo p{
    font-size: 13px;
    color: #666;
}

nav a{
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover{
    color: #c2185b;
}

.detail-container{
    padding: 60px 80px;

    display: flex;
    justify-content: center;
}

.detail-card{
    width: 1100px;

    background: white;

    border-radius: 15px;

    overflow: hidden;

    display: flex;

    box-shadow: 0 5px 18px rgba(0,0,0,0.12);
}

.gambar{
    width: 50%;
}

.gambar img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.detail-info{
    width: 50%;

    padding: 45px;
}

.detail-info h1{
    color: #9b174c;

    font-size: 38px;

    margin-bottom: 20px;
}

.harga{
    color: #c2185b;

    font-size: 30px;
    font-weight: bold;

    margin-bottom: 15px;
}

.stok{
    margin-bottom: 30px;

    font-size: 18px;
}

.deskripsi h3{
    color: #9b174c;

    margin-bottom: 10px;
}

.deskripsi p{
    color: #666;

    line-height: 1.8;

    margin-bottom: 35px;
}

.btn{
    width: 100%;

    padding: 15px;

    border: none;
    border-radius: 10px;

    background: #c2185b;
    color: white;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;
}

.btn:hover{
    background: #9b174c;
}

footer{
    height: 60px;

    background: #9b174c;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 35px;
}

.qty{
    width: 100%;
    padding: 12px;

    margin-bottom: 20px;

    border: 1px solid #ccc;
    border-radius: 8px;
}

.btn-kembali{
    display: inline-block;

    margin-top: 15px;

    width: 100%;

    text-align: center;

    padding: 16px;

    background: #777;

    color: white;

    text-decoration: none;

    border-radius: 10px;

    font-weight: bold;

    transition: 0.3s;
}

.btn-kembali:hover{
    background: #555;
}
